#############
## Custom Ignore Statements
#############

.metadata/



#################
## Eclipse
#################

.DS_STORE
*.pydevproject
.project
.metadata
bin/
tmp/
plugins/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath